/* @media (min-width: 576px) { ... }

@media (min-width: 768px) { ... }

@media (min-width: 992px) { ... }

@media (min-width: 1200px) { ... } */

.img-fluid{
  max-width: 100%;
  height: auto;
}

.form-control{
  background-color: #ededed;
  border: 0;
  border-radius: 25px;
}
