/* @media (min-width: 576px) { ... }

@media (min-width: 768px) { ... }

@media (min-width: 992px) { ... }

@media (min-width: 1200px) { ... } */

@@font-face {
  font-family: Gotham-Book;
  src: url(bfizzy\fonts\Gotham Book Regular.otf);
}

@@font-face {
  font-family: Gotham-Medium;
  src: url(bfizzy\fonts\Gotham Medium Regular.ttf);
}

.font1{
  font-family: Gotham-Book;
}
.font2{
  font-family: Gotham-Medium;
}
.arial{
  font-family: 'Open Sans', sans-serif;

}



.img-fluid{
  max-width: 100%;
  height: auto;
}

.form-control{
  background-color: #ededed;
  border: 0;
  border-radius: 25px;
}
.form-control-sm{
  border:0;
}

.mx-auto{
  width:300px;
}

.btn{
  background-color: white;
}

.icon-drop{
  background-size: 12px;
  width: 12px;
  height:12px;
  display: inline-block;
  -webkit-transform: translate(8px,5px);
  -ms-transform:translate(8px,5px);
  transform: translate(8px,5px);
}

.custom-select {
  width:12rem;
  border:0;
  background:none;
}
